

<!DOCTYPE html>
<html>
<head>
  <title>Inicio - JaggerStore</title>
</head>
<body>
  <h1>Bienvenido a JaggerStore</h1>
  <p>Enlaces:</p>
  <ul>
    <li><a href="/products">Ver productos</a></li>
    <li><a href="/carts">Ver carrito de compras</a></li>
    <li><a href="./session/login">Iniciar Sesion</a></li>
    <li><a href="./session/register">Registrarse</a></li>
  </ul>
</body>
</html>